/*
Credits: https://codepen.io/johnny13/pen/prqmBr
*/
@font-face {
  font-family: "Hack";
  src:
      url("https://cdn.jsdelivr.net/font-hack/2.020/fonts/woff2/hack-regular-webfont.woff2?v=2.020") format("woff2"),
      url("//cdn.jsdelivr.net/font-hack/2.020/fonts/woff/hack-regular-webfont.woff?v=2.020") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@keyframes blink {
  0% {
    background: rgba($primary, 100);
  }
  50% {
    background: rgba($primary, 0);
  }
  100% {
    background: rgba($primary, 100);
  }
}

.term-window {
  width: 100%;
  display: block;
  position: relative;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  .term-toolbar {
    width: 100%;
    min-height: 25px;
    border-radius: 5px 5px 0 0;
    background: white;

    .term-lights {
      float: left;
      position: relative;
      top: 14px;
      left: 14px;

      .light {
        float: left;
        width: 12px;
        height: 12px;
        border-radius: 14px;
        overflow: hidden;

        &:not(:first-child) {
          margin-left: 7px;
        }

        &.red {
          background: #FF5F56;
        }

        &.yellow {
          background: #FFBD2E;
        }

        &.green {
          background: #27C93F;
        }
      }
    }
  }

  .term-body {
    color: white;
    font-family: Hack, monospace;
    font-size: 18px;
    float: left;
    width: 100%;
    min-height: 130px;
    background: #000;
    padding: 14px;
    line-height: 1.5em;

    .cursor {
      background: $primary;
      display: inline-block;
      width: 11px;
      height: 19px;
      margin-bottom: -3px;
      animation-name: blink;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }
}
