@import "variables";
$list-group-action-hover-color: $primary;
@import "./front_base";
@import "components/terminal_mockup";
@import "components/codemirror";
@import "components/basedark16";


html, body, #content, #content > * {
  height: 100%;
}

.modal-dialog {
  max-width: 680px;
  padding: $spacer;
}
